:root {
    --dark-purple: #10002B;
    --purple: #8F00FF;
    --pink: #FF00F5;
    --white: #F4F4F4;
}

* {
    font-family: 'Satoshi', sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

img,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    min-height: 100dvh;
    background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}


.show {
    display: none;
}

.span-2 {
    grid-column: span 2;
}

/* Home */
.home-page {
    height: 100vh;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

header nav {
    display: flex;
    gap: 5rem;
    padding: 1.2rem 2rem;
    border-radius: 8px;
}

header .logo {
    max-width: 300px;
    animation: spin 4s linear infinite;
}

nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    transition: all 0.2s;
    opacity: 0.8;
}

nav a:hover {
    opacity: 1;
    transform: translateY(-1px);
}

header .dropdown-container {
    display: none;
}

main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main .title {
    margin-bottom: 1rem;
}

main h1 {
    font-size: 3rem;
}


main h2 {
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 750px;
    border-radius: 4px;
}

main .buttons {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button {
    border-radius: 4px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.cta {
    background-color: var(--purple);
    font-weight: 700;
    font-size: 1.2rem;
    opacity: 0.8;
}

.cta:hover {
    opacity: 1;
}

.view-more {
    background-color: #4040409d;
    opacity: 0.8;
}

.view-more:hover {
    opacity: 1;
}



/* Dropdown */
.drop-btn {
    display: none;
    position: absolute;
    right: 2rem;
    top: 6rem;
    z-index: 999;
}

.drop-container {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.61);
    height: 100vh;
    box-shadow: -5px 0 1px #000;
}

.drop-content {
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.drop-content a {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    font-size: 1.3rem;
}

.bg-video {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -99999;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Services */
.service-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
}

h3 {
    margin: 0;
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: 300;
}

iframe {
    width: 100%;
    border-radius: 4px;
    height: 300px;
}

.service-info h4 {
    font-size: 2rem;
    font-weight: 900;
    border-radius: 4px;
}

.services-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-header a {
    padding: 0.5rem 1rem;
    background: var(--dark-purple);
    border-radius: 4px;
    transition: all 0.3s;
}

.services-header a:hover {
    background: var(--purple);
}

hr {
    grid-column: span 2;
    opacity: 0.4;
}

.service-features {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.8rem;
    font-size: 1.4rem;
    height: 100%;
}

.service-features p {
    background: rgb(78, 78, 78);
    background: linear-gradient(90deg, rgba(78, 78, 78, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: fit-content;
    padding: 0.5rem 0;
    padding-left: 0.4rem;
    padding-right: 2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
}

/* INFO */
.info-main {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.info-main .info-text {
    font-size: 1.8rem;
    grid-column: span 2;
}

.info-text p {
    line-height: 2;
    font-weight: 300;
}

.info-text p span {
    color: var(--purple);
    font-weight: 700;
}

.info-main img {
    max-width: 400px;
}

/* WORKFLOW  */
.workflow {
    margin-top: 3rem;
}

.workflow h5 {
    font-size: 2.5rem;
    font-weight: 300;
}

.workflow p {
    font-size: 1.4rem;
    font-weight: 300;
    width: 70%;
}

.work-steps {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.work {
  border: solid #404040 1px;
  background-color: #070707c1;
  padding: 1rem ;
  border-radius: 4px;
  width: 90%;
}

.work h6 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #212121c1;
    border-radius: 4px;
    width: fit-content;
    padding: 0.5rem 1rem ;
    margin-bottom: 1rem;
}

/* Medias queries */
@media (max-width:1000px) {
    html {
        font-size: 12px;
    }

}

@media (max-width:800px) {

    html {
        font-size: 10px;
    }

    main {
        height: 70vh;
    }

    header .logo {
        max-width: 200px;
    }

    header nav {
        display: none;
    }

    .drop-btn {
        display: block;
    }

    .service-item {
        display: block;
    }

    .info-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        height: 250px;
    }

    .info-main img {
        max-width: 200px;
    }

    .workflow p {
        width: 100%;
    }

    .service-features {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}