:root {
    --dark-purple: #10002B;
    --purple: #8F00FF;
    --pink: #FF00F5;
    --white: #F4F4F4;
}

* {
    font-family: 'Satoshi', sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

img,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    min-height: 100dvh;
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 92%;
    max-width: 1800px;
}


.show {
    display: none;
}

/* Home */
.home-page {
    height: 100vh;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

header nav {
    display: flex;
    gap: 5rem;
    padding: 1.2rem 2rem;
    border-radius: 8px;
}

header .logo {
    max-width: 300px;
}

nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    transition: all 0.2s;
    opacity: 0.8;
}

nav a:hover {
    opacity: 1;
    transform: translateY(-1px);
}

header .dropdown-container {
    display: none;
}

main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main .title {
    margin-bottom: 1rem;
}

main h1 {
    font-size: 3rem;
}


main h2 {
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 750px;
    border-radius: 4px;
}

main .buttons {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button {
    border-radius: 4px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.cta {
    background-color: var(--purple);
    font-weight: 700;
    font-size: 1.2rem;
    opacity: 0.8;
}

.cta:hover {
    opacity: 1;
}

/* .contact {
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: solid var(--white) 1px;
} */
.view-more {
    background-color: #4040409d;
    opacity: 0.8;
}

.view-more:hover {
    opacity: 1;
}

.drop-btn {
    display: none;
    position: absolute;
    right: 2rem;
    top: 6rem;
    z-index: 999;
}

.drop-container {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.61);
    height: 100vh;
    box-shadow: -5px 0 1px #000;
}

.drop-content {
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.drop-content a {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    font-size: 1.3rem;
}


.bg-video {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -99999;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* CTA PAGE */

.cta-page {
    padding: 1rem 0;
    background: rgb(128,3,199);
    background: linear-gradient(0deg, rgba(128,3,199,1) 0%, rgba(0,0,0,1) 100%);
}

h3 {
    padding-top: 6rem;
    font-size: 3rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.cta-benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
}

.benefits {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.benefit-card p {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgb(29,0,60);
    background: linear-gradient(90deg, rgba(29,0,60,1) 0%, rgba(118, 0, 186, 0.761) 100%);
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.498);
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 1.2rem;
}

.benefits-service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-radius: 4px;
}

.service {
    border-radius: 4px;
    border: solid #fff 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark-purple);
}

.price-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    gap: 1rem;
}

.service-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.service-price {
    font-size: 3rem;
    font-weight: 700;
    opacity: 0.8;
}

.service-buy {
    cursor: pointer;
    font-size: 1.4rem;
    background:var(--pink);
    padding: 1rem 3rem;
    border-radius: 32px;
    transition: all 0.2;
    opacity: 0.8;
}

.service-buy:hover {
    opacity: 1;
}

.features-section {
    width: 100%;
    background-color: #00000055;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 4px;
}
/* Medias queries */
@media (max-width:1000px) {
    html {
        font-size: 14px;
    }
}

@media (max-width:800px) {
    html {
        font-size: 12px;
    }


    main {
        height: 70vh;
    }

    header .logo {
        max-width: 200px;
    }

    header nav {
        display: none;
    }

    .drop-btn {
        display: block;
    }

}